<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link href="/static/css/signin.css" rel="stylesheet">

    <script type="text/javascript" scr="/static/bootstrap/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" scr="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <form class="form-signin" action="/accounts/auth/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">User name:</label>
        <input type="text" name="username" value="" class="form-control" placeholder="User name" required autofocus>
        <label for="password" class="sr-only">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
    </form>

  </div> <!-- /container -->
</body>
</html>