<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="/static/angular.min.js"></script>
    
    <script type="text/javascript" src="/static/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link href="/static/css/signin.css" rel="stylesheet">

    <style>
        body {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    </style>
</head>
<body>
  <div class="container">
    {% block nav %}
      {% include 'nav.html' %}
    {% endblock %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Datetime</th>
            <th>User</th>
            <th>Action</th>
            <th>Mesage</th>
          </tr>
        </thead>
        <tbody>
          {% for item in log_list %}
            <tr>
              <td>{{item.datetime}}</td>
              <td>{{item.user}}</td>
              <td>{{item.action}}</td>
              <td>{{item.msg}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div><!--end of .table-responsive-->
    </div>
  </body>
<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length -1];
    var rows = table.rows;
    for(var i = 0, td; i < rows.length; i++){
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i + 1));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>
</html>
