<!DOCTYPE html>
<html>
<head>
    <title>Edit info</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link href="/static/css/signin.css" rel="stylesheet">
    <script type="text/javascript">
		function event_onchange(){
			var event = document.getElementById( 'event' );
			if (event.options[event.selectedIndex].value == "RTMP"){
				window.location.href = "/supvisor/rtmp/add/";
			}
		};
		
		function check_unicode(str){
			for (var i = 0; i < str.length; i++) {
				if(str.charCodeAt(i) > 127) {
					return false;
				}
			}
			return true;
		};
		
		function check_empty(str){
			if (str == "") {
				return false;
			}
			return true;
		};
		
		function check_ip_fortmat(str){
			var allow_char = "0123456789.: "
			for (var i = 0; i < str.length; i++) {
				
					if(str.charCodeAt(i) > 127) {
						return false;
					}
			}
			return true;
		};
		
		function check_name(){
			var name = document.getElementById( 'name' ).value;
			return	{
				"result" : check_empty(name),
				"error" : "Tên không được trống!"
			};
		}
		function check_name_unicode(){
			var name = document.getElementById( 'name' ).value;
			return	{
				"result" : check_unicode(name),
				"error" : "Tên không chứa kí tự đặc biệt, dấu tiếng Việt!"
			};
		};
		function check_streamkey(){
			var streamkey = document.getElementById( 'streamkey' ).value;
			return	{
				"result" : check_empty(streamkey),
				"error" : "Streamkey không được trống!"
			};
		}
		function check_streamkey_unicode(){
			var streamkey = document.getElementById( 'streamkey' ).value;
			return	{
				"result" : check_unicode(streamkey),
				"error" : "Streamkey không chứa kí tự đặc biệt, dấu tiếng Việt!"
			};
		};
		function SubmitCheckTextField(){
			var arrs = [
				check_name,
				check_name_unicode,
				check_streamkey,
				check_streamkey_unicode
			];

			var errors = "";

			arrs.forEach(function (fn) {
				var item = fn();
				if (item.result == false ) {
					errors += "\n" + item.error;
				}
			});

			if (errors.length > 1) {
				alert(errors);
				return false;
			}
			document.form.submit();
		};
    </script>
</head>

<body ng-app="myApp" ng-controller="processCtrl">
  <div class="container">
    <form class="well form-horizontal" action="/supvisor/add/" method="post" name="form" onsubmit="return SubmitCheckTextField(this);">
        {% csrf_token %}
	<fieldset>

	  <!-- Form Name -->
	  <legend>
		Add new process
	  </legend>
	  <!-- Event -->
	   
	  <div class="form-group"> 
	    <label class="col-md-4 control-label">Stream type</label>
	      <div class="col-md-4 selectContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
	      <select name="event" id="event" class="form-control selectpicker" onchange="event_onchange()">
	      	<option>Facebook</option>
	      	<option>Youtube</option>
	      	<option>RTMP</option>
	      </select>
	    </div>
	  </div>
	  </div>

	  <!-- Name -->
	   
	  <div class="form-group"> 
	    <label class="col-md-4 control-label">Name</label>
	      <div class="col-md-4 selectContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	          <input type="text" class="form-control" name="name" id="name" placeholder="Name of process">

	      </select>
	    </div>
	  </div>
	  </div>

	  <!-- Stream key -->	    
	  <div class="form-group">
	    <label class="col-md-4 control-label">Steam Key:</label>
	      <div class="col-md-4 inputGroupContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	            <textarea class="form-control" name="command" id="streamkey" placeholder="Stream key">{{streamkey}}</textarea>
	    </div>
	    </div>
	   </div>

	  <!-- IP -->
	  <div class="form-group">
	    <label class="col-md-4 control-label">IP:Port</label>
	      <div class="col-md-4 inputGroupContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	            <input type="text" class="form-control" name="ip" placeholder="Default: 225.1.1.7:30120" value="{{ip}}">
	    </div>
	    </div>
	  </div>

	  <!-- Button -->
	  <div class="form-group">
	    <label class="col-md-5 control-label"></label>
	    <div class="col-md-4">
	      <button type="submit" class="btn btn-success" name="saveAndStart">Save and Start <span class="glyphicon glyphicon-save"></span></button>
	    </div>
	  </div>

	  </fieldset>
    </form>
    </div>
</body>
</html>
