{% block nav %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/supvisor/#"><span style="font-size: 25px">Streaming Control</span></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <!--Show menu-->
        <ul class="nav navbar-nav">
          <li><a href="/supvisor/">Dashboard</a></li>
          <li><a href="/supvisor/document/">Document</a></li>
          <li ng-hide="!{{is_superuser}}"><a href="/log/">Log</a></li>
        </ul>
        <!--End show menu-->
        <!--Show user -->
        <ul class="nav navbar-nav navbar-right">
          {% if id %}
            <li><a href="/supvisor/#"><span class="glyphicon glyphicon-user"></span>{{ email }}</a></li>
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
            <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
        <!--End show user -->
        </div><!--/.nav-collapse -->
      </div>
      </nav><!-- /.nav -->
    {% endblock %}