<!DOCTYPE html>
<html>
<head>
    <title>Edit info</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/static/angular.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link href="/static/css/signin.css" rel="stylesheet">
    <script type="text/javascript">
		function SubmitCheckTextField(){
		    if (document.form.name.value == "") {
		      alert ("Enter Name streaming!");
		      return false;
		    }
		    else{
		    	if (document.form.domain.value == ""){
		    		alert ("Enter your Domain");
		    		return false;
		    	}
		    	else{
		    		if (document.form.encode.value == ""){
		    			alert ("Enter your Encode");
		    			return false;
		    		}
		    		else{
		    			if (document.form.ip.value == "") {
		    				alert ("Enter your IP");
		    				return false;
		    			}
		    		}
		    	}
		    }
		  }
    </script>
</head>

<body ng-app="myApp" ng-controller="rtmpAddCtrl">
  <div class="container">
    <form class="well form-horizontal" action="/supvisor/rtmp/add/" method="post" name="form" onsubmit="return SubmitCheckTextField(this);">
        {% csrf_token %}
	<fieldset>

	  <!-- Form Name -->
	  <legend>
		Add new RTMP streaming
	  </legend>

	  <!-- Name -->	
	   
	  <div class="form-group"> 
	    <label class="col-md-4 control-label">Name</label>
	      <div class="col-md-5 selectContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	          <input type="text" class="form-control" name="name" id="name" placeholder="Name of process">

	      </select>
	    </div>
	  </div>
	  </div>

	  <!-- encode -->	    
	  <div class="form-group">
	    <label class="col-md-4 control-label">Encode</label>
	      <div class="col-md-5 inputGroupContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	            <textarea class="form-control" name="encode" id="encode" placeholder="encode" rows="5"> {{'{{myData[0].encode}'}}} </textarea>
	    </div>
	    </div>
	   </div>

	  <!-- Domain -->	    
	  <div class="form-group">
	    <label class="col-md-4 control-label">Domain</label>
	      <div class="col-md-5 inputGroupContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	            <textarea class="form-control" name="domain" id="domain" placeholder="example.com/stream key" rows="2">{{'{{myData[0].domain}'}}}</textarea>
	    </div>
	    </div>
	   </div>

	  <!-- IP -->
	  <div class="form-group">
	    <label class="col-md-4 control-label">IP:Port</label>
	      <div class="col-md-5 inputGroupContainer">
	      <div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	            <input type="text" class="form-control" name="ip" value="{{'{{myData[0].ip}'}}}">
	    </div>
	    </div>
	  </div>

	  <!-- Button -->
	  <div class="form-group">
	    <label class="col-md-5 control-label"></label>
	    <div class="col-md-4">
	      <button type="submit" class="btn btn-success" name="saveAndStart">Save and Start <span class="glyphicon glyphicon-save"></span></button>
	    </div>
	  </div>

	  </fieldset>
    </form>
    </div>
</body>
<script>
var app = angular.module('myApp',[]);

app.controller("rtmpAddCtrl", function ($scope,$http){

  $scope.reload = function () {
    $http.get('/supvisor/rtmp/add/json').
        then(function (response) {
            $scope.myData = response.data.rtmp;
            console.log($scope.myData);
      });
  };
  $scope.reload();
});
</script>
</html>
